---
// import CardProyect from '../components/CardProyect.astro';
import CardProyect from '../components/react/CardProyect.jsx'
import Layout from '../layouts/Layout.astro';
const proyects = await Astro.glob('../proyects/*.md')
const servicios = await Astro.glob('../servicios/*.md')
const prices = await Astro.glob('../prices/*.md')
---

<Layout title="Dromps Dev | Home">
	<section class="hero">
		<div class="hero__descript">
			<h1 class="hero__title">Dromps Dev</h1>
			<p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi reprehenderit officia, aliquam recusandae quae ea inventore nisi vel illo rerum tempore doloremg excepturi nulla facilis pariatur voluptatum tenetdur eius nesciunt!</p>
		</div>
		<figure class="image">
			<img src="https://pbs.twimg.com/media/E4SSdCNXMAgHtbe.jpg" alt="sapo con sombrero diciendo tuki" title="Sapo diciendo TUKI">
		</figure>
	</section>
	<section class="proyectos">
		<h2 class="title--section">Proyectos</h2>
		<div class="proyectos__content">
			{
				proyects.map((proyect,i) => 
				<CardProyect 
					key={i}
					link={proyect.frontmatter.link}
					title={proyect.frontmatter.title}
					tools={proyect.frontmatter.tools}
					image={proyect.frontmatter.image} />)
			}
		</div>
	</section>
	<section class="servicios">
		<h2 class="title--section">Descripcion de los servicios</h2>
		<div class="servicios__content">
			{
				servicios.map(servicio => 
				<article class="servicio">
					<h3 class="servicio__title">{servicio.frontmatter.title}</h3>
					<p class="servicio__descript">{servicio.frontmatter.text}</p>
				</article>)
			}
		</div>
	</section>
	<section class="precios">
		<h2 class="title--section">Precios</h2>
		<div class="precios__content">
			{
				prices.map(price => 
					<article class="precio">
						<h3 class="precio__title">{price.frontmatter.title}</h3>
						<p class="precio__count"><span class="precio__simbol">$</span>{price.frontmatter.price}</p>
						<ul class="precio__list">
							{
								price.frontmatter.benefices.map((benefice:string) => 
									<li class="precio__item">{benefice}</li>
								)
							}
						</ul>
						<button class="button button--primary precio__button">Comprar ya!</button>
					</article>
				)
			}
		</div>
	</section>
</Layout>
<style>
	.hero {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		place-content: center;
	}
	.hero__descript {
		height: auto;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero__title {
		font-size: 5rem;
		font-weight: 900;
		text-transform: uppercase;
	}
	.image {
		display: flex;
		align-items:center;
		justify-content: flex-end;
	}
	.image img {
		width: 90%;
		height: 80%;
		object-fit: cover;
	}

	.title--section {
		font-size: 4rem;
		text-transform: uppercase;
		margin-block-end: 2.4rem;
	}

	.proyectos__content {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
		gap: 2rem;
	}

	.servicios__content {
		display: grid;
		grid-template-columns: repeat(12,1fr);
		grid-auto-rows: auto;
		gap: 2.4rem 0;
	}
	.servicio {
		grid-column: 2/9;
		border: 1px solid #000;
		border-radius: .5rem;
		padding: 1.2rem 1.8rem;
	}
	.servicio:nth-child(2n){
		grid-column: 5/12;
		border: 1px solid rgb(96, 96, 96);
	}
	.servicio__title {
		text-transform: uppercase;
		margin-block-end: .8rem
	}

	.precios__content {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
		gap: 1.2rem;
	}
	.precio {
		border: 1px solid #000;
		padding: 2rem;
		border-radius: .5rem;
	}
	.precio__title {
		font-size: 2.8rem;
		font-family: 'Courier New', Courier, monospace;
		text-align: center;
		margin-block-end: 2rem;
	}
	.precio__count {
		font-size: 8rem;
		display: flex;
		justify-content: center;
	}
	.precio__simbol {
		font-size: 1.8rem;
		font-weight: bold;

	}
	.precio__list {
		padding-inline: 2.4rem;
	}
	.precio__item {
		font-style: italic;
		list-style: square;
		margin-block-end: .8rem;
	}
	.precio__button {
		margin-block-start: 1.2rem;
		margin-inline: auto;
	}
</style>